@using Bibliotheque.Models
@using Bibliotheque.ViewModels
@model BibliothequeViewModel

@{
    var obj = Session["User"] as User;

    List<SelectListItem> CategoriesList = new List<SelectListItem>();

    foreach (Category c in Model.CatsVM.Categories)
    {
        CategoriesList.Add(new SelectListItem { Text = c.Title, Value = c.IdCategory.ToString() });
    }

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link href="~/Content/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="/Content/Required.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Background.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Form.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />

    <title>Main</title>

    <table>

        <thead>@obj.Name</thead>

        <tr>
            <th> @Html.ActionLink("Edit", "Edit", "Users", new { id = obj.IdUser }, new { @class = "btn" })</th>
        </tr>
    </table>

</head>

<div>
    @if (CategoriesList.Any())
    {
        
        @Html.DropDownListFor(m => m.CatsVM.Categories,
            CategoriesList.OrderBy(k => k.Text), htmlAttributes: new {@id = "dropdown"})
    }

    <input type="submit"
           id="edit"
           name="submit"
           value="Edit"/>
</div>

<div>

    <input type="text" id="textbox"/>
    <input type = "submit"
           id="submit"
           name = "submit"
           value = "Search"/>

</div>

<body>

<div id="element_list_container">

</div>

    <div>
        <input type = "submit"
               id="cat"
               name = "submit"
               value = "Create a category"/>
    </div>

    <div>
        <button onclick="location.href = '@Url.Action("Disconnect", "Home")';return false;">Log out</button>
    </div>

</body>
</html>

<script>
 //Script en ajax pour modifier dynamiquement l'affichage

    $('#submit').click(function (e) {

        $.ajax({
            type: "POST",
            url: "../Elements/Search",
            data: { search: $("#textbox").val(), id: $("#dropdown option:selected").val() },
            success: function (data) { $("#element_list_container").html(data); },
            error: function () { alert("Something went wrong in controller."); }
        });
    });

 $('#cat').click(function (e) {

     $.ajax({
         type: "GET",
         url: "../Categories/Create",
         success: function (data) { $("#element_list_container").html(data); },
         error: function () { alert("Something went wrong in controller."); }
     });
 });

 $('#edit').click(function (e) {

     var row_num = $("#dropdown option:selected").val();

     $.ajax({
         type: "GET",
         url: "../Categories/Edit",
         data: { id: row_num },
         success: function (data) {
             $("#element_list_container").html(data);
         },

         error: function () { alert("Something went wrong in controller."); }

     });

 });

    $('#dropdown').ready(function (e) {

        var row_num = $("#dropdown option:selected").val();

        $.ajax({
            type: "GET",
            url: "../Elements/List",
            data: { id: row_num },
            success: function (data) {
                $("#element_list_container").html(data);
            },

            error: function () { alert("Something went wrong in controller."); }

        });

    });

    $('#dropdown').change(function (e) {

        var row_num = $("#dropdown option:selected").val();

        $.ajax({
            type: "GET",
            url: "../Elements/List",
            data: { id: row_num },
            success: function(data) {
                $("#element_list_container").html(data);
                $("#textbox").val("");
            },

            error: function () { alert("Something went wrong in controller."); }

        });

    });

</script>
