@model IEnumerable<Bibliotheque.Models.Category>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCategory) :
            @Html.DisplayFor(modelItem => item.Title)
        </td>
    </tr>
}

</table>
