@using Bibliotheque.Models
@using Bibliotheque.ViewModels
@model Bibliotheque.ViewModels.BibliothequeViewModel

<div>
    <h4>@TempData["Element"]</h4>

    <dl class="dl-horizontal">

        @foreach (User u in (List<User>) TempData["Userlist"])
        {

            <table>

            @if (Model.LinksVM.Links.Any(l => l.IdUser == u.IdUser))
            {

                <tr>
                <th>Mail : @u.Email</th>
                </tr>

            }

            @foreach (Link l in Model.LinksVM.Links.Where(l => l.IdUser == u.IdUser && l.IdElement == (int) TempData["IdElement"]))
            {
            <tr>
                <th>Done : </th>
                <th>@l.Done</th>
            </tr>
            }
        
            </table>
        }

    </dl>

    </div>
    <p>
        @Html.ActionLink("Back to main page", "Main", "Home")
    </p>
