@model IEnumerable<Bibliotheque.Models.Link>

@{
    List<SelectListItem> LinkList = new List<SelectListItem>();
}

@foreach (var item in Model)
{
   

    LinkList.Add(new SelectListItem { Text = item.Done?.Date.ToString("dd/MM/yy")});
}

@if (LinkList.Any())
{
    <td>
        @Html.DropDownList("Date",LinkList)
    </td>
}
